.word-card-margin {
  margin-block: 2.6px;
}

.input-button {
  display: flex;
  gap: 10px;
  margin-bottom: 1.15rem;
}

.input-style {
  padding: 6px 0 0 5px;
  border-radius: var(--border-radius);
  width: 300px;
  font-size: var(--p-size);
}

.input-style::placeholder {
  font-size: var(--p-size);
}

.audio-player-margin-top {
  margin-top: 0.3rem;
}

.margin-right {
  display: inline-block;
  margin-right: 5px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.border {
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background: #FFF8B8;
  padding: 5px;
}
