.correct-icon {
    position: relative;
    top: 4px;
    width: 1.58rem
}

.incorrect-icon {
    position: relative;
    top: 5px;
    width: 1.58rem
}

.show-answers {
    display: block;
    color: green
}