.nav-bar {
  width: 244px;
  padding: 8px;
  color: white;
  background-color: #062745;
  border-radius: 5px;
  overflow: auto;
  box-shadow: var(--box-shadow);
  height: 93vh;
  /* z-index: 1; */
}

.nav-icon-size {
  width: 2rem;
  height: fit-content;
}

.nav-icon-size-test {
  width: 2rem;
  height: fit-content;
  margin-bottom: 0.2rem;
}
.nav-icon-size-grammar {
  width: 2rem;
  height: 2.1rem;
  margin-top: 0.2rem;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  height: 37px;
}

.nav-bar-link {
  color: white;
  font-family: var(--font);
}

.active:active {
  color: var(--isActive);
}

@media (max-width: 768px) {
  .nav-bar {
    width: 100%;
    height: fit-content;
  }
}
