.navbar-container {
  width: 246px;
  overflow: auto;
  height: 100vh;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
  margin-top: 0.650rem;

}

.nav-icon-size {
  width: 2rem;
  height: fit-content;
}

.nav-icon-size-test {
  width: 2rem;
  height: fit-content;
  margin-bottom: 0.2rem;
}
.nav-icon-size-grammar {
  width: 2rem;
  height: 2.1rem;
  margin-top: 0.2rem;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  height: 37px;
}

.navbar-link {
  font-weight: bold;
  font-family: var(--font);
}

.active:active {
  color: var(--isActive);
}

@media (max-width: 768px) {
  .navbar-container {
    width: 100%;
    height: fit-content;
  }
}
