.card-pronunciation {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  
}

.card-pronunciation-label {
  background-color: lightgray;
  color: black;
  padding: var(--padding);
  border-radius: 5px 5px 0 0;
}

.card-pronunciation-content {
  margin: 7px;
}

.hr-margin {
  margin-block: 1rem;
}
