.main-card {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-block: 10px;
  padding-bottom: 5px;
}

.card {
  background-color: lightgray;
  color: black;
  border-radius: 5px 5px 0 0;
  padding: var(--padding);
}

.children {
  padding-inline: 10px;
}