.flex {
  /* display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap; */
  display: grid;
  /* grid-template-columns: repeat(auto-fit, 155px); */
  gap: 8px;
  justify-content: center;
}

.container {
  perspective: 1000px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s ease;
  transform-style: preserve-3d;
  cursor: pointer;
}

.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  backface-visibility: hidden;
  background-image: url("/assets/img/textures/card-texture.jpg");
}

.front {
  /* display: grid;
  grid-template-rows: 100px 1fr; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.flip-icon {
  width: 20px;
  height: auto;
  position: absolute;
  left: 5px;
  top: 5px
}

.front-image {
  width: 70px;
  height: 70px;
}

.front-text {
  overflow: auto;
}

.front-text-padding {
  padding-inline: 10px;
}

.back {
  transform: rotateY(180deg);
  padding: 10px;
}