.container-summary-img {
    display: grid;
    grid-template-columns: 1fr 67.2%;
    gap: 20px;
}

.container-paragraph-img {
    display: grid;
    grid-template-columns: 67.2% 1fr;
    gap: 20px;
}

/* .img-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  } */

@media (max-width: 600px) {
    .container-summary-img {
        display: flex;
        flex-direction: column;
    }

    .container-paragraph-img {
        display: flex;
        flex-direction: column;
    }
}