.icons-position {
  position: relative;
  top: 5px;
}

.plus-minus-icons {
  width: 19px;
  height: fit-content;
  position: relative;
  top: 2px;
  display: inline;
}

/* .border {
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
} */