.border {
  /* border: 1px solid lightgray; */
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.icons-position {
  position: relative;
  top: 4px;
  left: 5px;
  margin-right: 4px;
}

.collapsible-icon-size {
  width: 22px;
  height: fit-content;
}
