/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Walter Turnvoat */
@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Bebas Neue */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Kanit */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Monteserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  scrollbar-gutter: stable;
  --font: "Montserrat", serif;
  --p-size: 1.2rem;
  --img-border: 5px solid rgba(211, 211, 211, 0.233);
  --box-shadow: 0 0 5px 0.5px #999;
  --border-radius: 5px;
  --padding: 2px 7px;
  --beginner: #fcc418;
  --elementary: #ec3b3b;
  --pre-intermediate: #1f8feb;
  --intermediate: #81c221;
  --upper-intermediate: ;
  --advanced: ;
  --isActive: #f77d7a;
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background: hsl(10, 10%, 90%);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: hsl(10, 5%, 70%);
  border-radius: 100vw;
  border: 0.1rem solid hsl(10, 10%, 90%);
}

body {
  max-width: 1050px;
  margin: 0 auto;
  font-family: var(--font)
  /* user-select: none; */
}

main {
  padding: 10px;
}

hr {
  border-color: rgba(255, 255, 255, 0.5);
}
