@media (max-width: 500px) {
    .flex-8px-wrap {
      flex-direction: column;
    }
  }
  
  @media (max-width: 768px) {
    .img-border {
      width: 100%;
      height: fit-content;
    }
    .flex-8px,
    .flex-12px,
    .flex-col-8px,
    .grid-2fr-8px,
    .grid-3fr-8px {
      display: grid;
      grid-template-columns: 1fr;
    }
  }