@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

/* .secondary-font {
  font-family: "Pacifico", cursive;
  font-size: var(p-size)
} */

p {
  font-size: var(--p-size);
}

.p-font {
  font-size: var(--p-size);
  display: block;
}

.p-size-small {
  font-size: 0.9rem;
}

.p-size-smaller {
  font-size: 0.7rem;
}

.times-new-roman-dictionary {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1rem;
  font-style: italic;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.justify {
  text-align: justify;
}

.underline {
  text-decoration: underline;
}

.portuguese {
  color: rgba(128, 128, 128, 0.75);
}

.phonetics {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  color: #00a2ff;
}