.header-container {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.header-btn-menu {
  width: 28px;
  height: fit-content;
  display: none;
}

.header-inner-container {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

.header-logo-name {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.logo-name {
  font-size: 1rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* color: white; */
}

@media (max-width: 768px) {
  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 42px;
    justify-content: space-between;
    gap: 15px;
  }

  .header-btn-menu {
    display: block;
    /* margin-left: 8px;
    margin-top: 2px; */
  }

  .header-inner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 12px;
  }

  .header-logo-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
  }
}
