.auth-container {
  width: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 8px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background: white;
  padding: 10px;
}

.login-close-btn {
  display: grid;
  grid-template-columns: 85.5% 12%;
  gap: 8px;
}

.password {
  border: 1px solid lightgrey;
  border-radius: var(--border-radius);
  height: 32px;
}

.switch-auth {
  text-decoration: underline;
  cursor: pointer;
  color: inherit;
}

.error-message {
  color: red;
}
