/* .content-card__container {
  border: var(--border);
  border-radius: var(--border-radius);
} */

.card-description__container {
  border: var(--border);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.card-description-label {
  padding: var(--padding);
}

.card-description-content {
  margin: 6px 7px;
}

.hr {
  margin-block: 8px;
}

.grid-icon-text {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
}

.globe-icon {
  position: relative;
  bottom: 1px;
}

.grid-icon-globe {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 6px;
  position: relative;
  right: 2px;
}

.checkbox-size {
  width: min-content;
}

.grid-checkbox-text {
  display: grid;
  grid-template-columns: 25.5px 1fr;
  gap: 8px;
}

.grid-checkbox-text input[type="checkbox"] {
  align-self: start;
  margin: 5px 0 0 2.2px;
}

.flex-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.checkbox-mt {
  margin-top: 1px;
}
