/* .beginner-border {
  border: solid #eab308;
}

.elementary-border {
  border: solid red;
}

.pre-intermediate-border {
  border: solid blue;
}

.intermediate-border {
  border: solid green;
} */

.card-description {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.card-description-label {
  padding: var(--padding);
  border-radius: 5px 5px 0 0;
}

.card-description-content {
  margin: 6px 7px;
}

/* .link-height {
  line-height: 20px;
} */

.hr {
  margin-block: 8px;
}

.globe-icon {
  margin-top: 2px;
}

.checkbox-size {
  width: min-content;
}

.grid-icon-text {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
}

.grid-checkbox-text {
  display: grid;
  grid-template-columns: 25.5px 1fr;
  gap: 8px;
}

.grid-checkbox-text input[type="checkbox"] {
  align-self: start;
  margin: 5px 0 0 2.2px;
}

.flex-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.checkbox-mt {
  margin-top: 1px;
}
