.wordcard-container {
  background-color: rgba(255, 255, 0, 0.083);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  margin: 5px;
}

.input-style::placeholder {
  font-size: var(--p-size);
}

.margin-top {
  margin-top: 0.3rem;
}

.flex {
  display: flex;
  gap: 8px;
}

.word {
  flex: 1
}

.audio-button {
  width: 26px;
  height: 26px;
}

.adjustment {
  position: relative;
  top: 4px;
  margin-right: 8px;
}

.loading {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #bbb;
  outline: 1px solid rgb(0, 0, 0);
  object-fit: cover;
  animation: rotate 1.5s linear infinite;
  scale: .85;
}

.close-button {
  cursor: pointer;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.word-margin-bottom {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.margin-right {
  display: inline-block;
  margin-right: 5px;
}

.border {
  padding: 1px 5px 9px 5px;
}

.padding-left {
  padding-left: 4px;
}

.border-left {
  margin-left: 4px;
  padding-left: 10px;
  border-left: 3px solid black;
  border-radius: 5px 0 0 5px;
}
