.wordcard-container {
  background-color: rgba(255, 255, 0, 0.083);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  margin: 5px;
}

.close-button {
  float: right;
  position: relative;
  right: 0px;
  top: 5px;  
  cursor: pointer;
}

.input-style::placeholder {
  font-size: var(--p-size);
}

.margin-top {
  margin-top: 0.3rem;
}

.audio-button {
  margin-right: 5px;
  width: max-content;
  height: 26px;
  position: relative;
  top: 5px;
}

.margin-right {
  display: inline-block;
  margin-right: 5px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.border {
  /* border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow); */
  padding: 1px 5px 9px 5px;
  
}

.padding-left {
  padding-left: 4px;
}

.border-left {
  margin-left: 4px;
  padding-left: 10px;
  border-left: 3px solid black;
  border-radius:  5px 0 0 5px;
}
