.img {
  width: 100%;
  height: fit-content;
}

.img-left {
  display: grid;
  gap: 15px;
  grid-template-columns: 200px auto;
}

.img-right {
  display: grid;
  gap: 15px;
  grid-template-columns: auto 200px;
}

@media (max-width: 500px) {
  .img-left,
  .img-right {
    grid-template-columns: 1fr;
  }
}
