.img-before {
  display: grid;
  gap: 15px;
  grid-template-columns: 200px auto;
}

.img-after {
  display: grid;
  gap: 15px;
  grid-template-columns: auto 200px;
}

.no-image {
  display: block;
}

@media (max-width: 500px) {
  .img-before,
  .img-after,
  .no-image {
    grid-template-columns: 1fr;
  }
}
