@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");

/* ROOT */

:root {
  scrollbar-gutter: stable;
  --navbar-icon-size: 2rem;
  --font: "Walter Turncoat", cursive;
  --h1-size: 2.3rem;
  --h2-size: 1.8rem;
  --h3-size: 1.6rem;
  --p-size: 1.3rem;
  --font-size-small: 0.9rem;
  --img-border: 5px solid rgba(211, 211, 211, 0.233);
  --box-shadow: 0 0 5px 0.5px #999;
  --border-radius: 5px;
  --padding: 2px 7px;
  --beginner: #fcc418;
  --elementary: #ec3b3b;
  --pre-intermediate: #1f8feb;
  --intermediate: #81c221;
  --upper-intermediate: ;
  --advanced: ;
  /* --isActive: #F77D7A; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Walter Turncoat", cursive;
  text-decoration: none;
  list-style: none;
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background: hsl(10, 10%, 90%);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: hsl(10, 5%, 70%);
  border-radius: 100vw;
  border: 0.1rem solid hsl(10, 10%, 90%);
}

body {
  max-width: 1050px;
  margin: 0 auto;
  font-family: var(--font);
  /* user-select: none; */
}

/* FONTS AND COLORS */

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

p {
  font-size: var(--p-size);
}

.p-font {
  font-size: var(--p-size);
  display: block;
}

.p-size-smaller {
  font-size: var(--font-size-small);
}

.bold {
  font-weight: bold;
}

.yellow-highlight {
  background-color: yellow;
}

.white {
  color: white;
}

.black {
  color: black;
}

.bg-black {
  background-color: black;
}

.red {
  color: red;
}

.beginner {
  color: var(--beginner);
}

.elementary {
  color: var(--elementary);
}

.pre-intermediate {
  color: var(--pre-intermediate);
}

.intermediate {
  color: var(--intermediate);
  color: "#81C221";
}

.bg-red {
  background-color: red;
}

.bg-lightgrey {
  background-color: lightgrey;
}

.underline {
  text-decoration: underline;
}

.portuguese {
  color: rgba(128, 128, 128, 0.75);
}

.phonetics {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  color: #00a2ff;
}

.times-new-roman-dictionary {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1rem;
  font-style: italic;
}

.italic {
  font-style: italic;
}

.is-active {
  text-decoration: underline;
}

.textarea {
  padding: 5px;
  font-size: var(--p-size);
  height: 250px;
  border-radius: var(--border-radius);
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}

.line-break {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.celta-line-break {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.margin-top {
  margin-top: 1.25rem;
}

.margin-auto {
  margin: auto;
}

.margin-right {
  margin-right: 8px;
}

.margin-bottom {
  margin-bottom: 1.25rem;
}

.margin-bottom:last-child {
  margin-bottom: 0;
}

.margin-left {
  margin-right: 8px;
}

.margin-block {
  margin: 1.25rem 0;
}

.margin-sides {
  margin: 0 8px;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.display-block {
  display: block;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
}

.display-none {
  display: none;
}

/* Flex */

.flex {
  display: flex;
  align-items: start;
}

.flex-4px-start {
  display: flex;
  gap: 4px;
  align-items: start;
}

.flex-8px-start-wrap {
  display: flex;
  gap: 8px;
  align-items: start;
  flex-wrap: wrap;
}

.flex-8px-wrap {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.flex-8px-center-wrap {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.flex-8px-end-wrap {
  display: flex;
  gap: 8px;
  align-items: end;
  flex-wrap: wrap;
}

.flex-8px-start-space-between {
  display: flex;
  gap: 8px;
  align-items: start;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-col-4px {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.flex-col-8px {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.flex-col-125rem {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.grid-2fr-8px {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

/* Grid */

.grid-3fr-8px {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.grid-checkbox-text input[type="checkbox"] {
  justify-self: center;
  margin-left: 2px;
}

.grid-repeat-auto-fit-110px-justify {
  display: grid;
  grid-template-columns: repeat(auto-fit, 110px);
  gap: 8px;
  justify-content: center;
}

/* Image */

.img-border {
  border: var(--img-border);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  width: 100%;
  height: fit-content;
}

.cursor-pointer {
  cursor: pointer;
}

/* Icons */

.icon-general {
  width: 1.6rem;
  height: fit-content;
}

.icon-position-top {
  position: relative;
  top: 3px;
}

/* BORDER */

.gray-dashed-border {
  border-radius: var(--border-radius);
  padding: 8px;
  border: 2px dashed gray;
}

.red-dashed-border {
  border-radius: var(--border-radius);
  padding: 8px;
  border: 2px dashed red;
}

input[type="checkbox"] {
  min-width: 21px;
  min-height: 21px;
}

input[type="checkbox"]:checked::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../../public/assets/img/icon/checkbox-blue.png);
  background-size: contain;
  position: relative;
  top: -1px;
  left: -1px;
}

input[type="text"] {
  padding-left: 0.3rem;
  margin: 0.1rem 0 0.1rem 0;
  font-family: var(--font);
  font-size: var(--p-size);
  border-radius: var(--border-radius);
}

hr {
  border-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 500px) {
  .flex-8px-wrap {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .img-border {
    width: 100%;
    height: fit-content;
  }
  .grid-2fr-8px,
  .grid-3fr-8px {
    display: grid;
    grid-template-columns: 1fr;
  }
}
