@import url("../styles/reset.css");
@import url("../styles/utilities.css");
@import url("../styles/components.css");
@import url("../styles/typography.css");
@import url("../styles/colors.css");

:root {
  scrollbar-gutter: stable;
  --background: #e8e8e8;
  --text-color: #000000;
  --morphism-bg:#DDE1E7;
  --border-radius: 6px;
  --box-shadow: -3px -3px 10px #ffffff,  /* Light inner shadow */
  5px 5px 10px rgba(0, 0, 0, 0.15), /* Dark inner shadow */
  -7px -7px 20px rgba(255, 255, 255, 0.7),  /* Soft outer highlight */
  7px 7px 20px rgba(0, 0, 0, 0.2); /* Soft outer shadow */
  --p-size: 1.2rem;
  --img-border: 5px solid rgba(211, 211, 211, 0.233);
  --padding: 2px 7px;
  --beginner: #fcc418;
  --elementary: #ec3b3b;
  --pre-intermediate: #1f8feb;
  --intermediate: #81c221;
  --upper-intermediate: #9b59b6;
  --advanced: #8e44ad;
  --isActive: #f77d7a;
}

[data-theme="dark"] {
  --background: #1a1a1a;
  --text-color: #ffffff;
  --box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1), /* Soft light inner shadow */
  5px 5px 10px rgba(0, 0, 0, 0.5), /* Darker inner shadow */
  -7px -7px 20px rgba(255, 255, 255, 0.05), /* Outer light highlight */
  7px 7px 20px rgba(0, 0, 0, 0.6);
  --morphism-bg: #1a1a1a;
}

body {
  background: var(--background);
  color: var(--text-color);
  max-width: 1050px;
  margin: 0 auto;
  /* user-select: none; */
}

main {
  padding: 10px;
}

li {
  font-size: var(--p-size);
}

hr {
  border-color: rgba(255, 255, 255, 0.5);
}

.dbec {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 1.32rem;
}

.uk-us-flag {
  width: 300px;
  height: auto;
  margin-bottom: 50px;
}

.how-you-doing {
  width: 100px;
  height: 100px;
  margin: 0 37px 0 0px;
}

.me-computer {
  width: 230px;
  height: 230px;
  margin-bottom: 20px;
}

.icons {
  width: 80px;
  height: auto;
}

.cards {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 10px;
}

iframe {
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  border: 0;
}

@media (width < 768px) {
  .cards {
    width: 300px;
    margin: 0 auto;
  }
}
