@import url("../styles/reset.css");
@import url("../styles/utilities.css");
@import url("../styles/components.css");
@import url("../styles/typography.css");
@import url("../styles/colors.css");
@import url("../styles/variables.css");

body {
  background: var(--background);
  color: var(--text-color);
  max-width: 1050px;
  margin: 0 auto;
  /* user-select: none; */
}

main {
  padding: 10px;
}

li {
  font-size: var(--p-size);
}

hr {
  border-color: rgba(255, 255, 255, 0.5);
}

.dbec {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 1.32rem;
}

.uk-us-flag {
  width: 300px;
  height: auto;
  margin-bottom: 50px;
}

.how-you-doing {
  width: 100px;
  height: 100px;
  margin: 0 37px 0 0px;
}

.me-computer {
  width: 230px;
  height: 230px;
  margin-bottom: 20px;
}

.icons {
  width: 80px;
  height: auto;
}

.cards {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 10px;
}

iframe {
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  border: 0;
}

@media (width < 768px) {
  .cards {
    width: 300px;
    margin: 0 auto;
  }
}
