@import url('../styles/global.css');
@import url('../styles/reset.css');
@import url('../styles/typography.css');
@import url('../styles/utilities.css');
@import url('../styles/components.css');
@import url('../styles/colors.css');

.margin-top {
  margin-top: 20px;
}

.dbec {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 1.32rem;
}

.uk-us-flag {
  width: 300px;
  height: auto;
  margin-bottom: 50px;
}

.how-you-doing {
  width: 100px;
  height: 100px;
  margin: 0 37px 0 0px;
}

.me-computer {
  width: 230px;
  height: 230px;
  margin-bottom: 20px;
}

.icons {
  width: 80px;
  height: auto;
}