.container {
  display: flex;
  max-width: 100%;
  overflow: hidden;
}

.swipe-slide {
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
}

.image {
  max-width: 99%;
  width: auto;
  height: 100%;
  border: var(--img-border);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  margin: 4px;
}
