.flex-button {
  display: flex;
  gap: 10px;
}

.btn {
  border: none;
  font-size: var(--p-size);
  padding: var(--padding);
  background: var(--button__color);
  box-shadow: var(--neumorphism);
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.btn.active {
  box-shadow: var(--neumorphism-active);
}

.btn-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform .1s ease-in;
}

.btn.active .btn-img {
  transform: translate(-50%, -50%) scale(0.95);
}