.input-size[type="radio"] {
    min-width: 25px;
    min-height: 25px;
    position: relative;
    padding: 5px;
  }


.align-radio {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 15px;
    padding: 2px;
    line-height: 1.3;
}


/* RADIO CORRECT*/

.radio-correct:checked::before {
    content: "";
    background-image: url(../../../../public/assets/img/icon/radio-correct.png);
    position: absolute;
    top: -1px;
    left: -2px;
    background-size: contain;
    width: 28px;
    height: 28px;
}

/* RADIO INCORRECT*/

.radio-incorrect:checked::before {
    content: "";
    background-image: url(../../../../public/assets/img/icon/radio-incorrect.png);
    position: absolute;
    top: -1px;
    left: -1px;
    background-size: contain;
    width: 28px;
    height: 28px;
}

/* @media (max-width: 768px) {
    .align-radio {
align-items: start;
    }
} */