.header-content {
  width: 283px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: #062745;
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  box-shadow: var(--box-shadow);
  color: white;
}

.usa-uk-flag-icon {
  width: 26px;
  height: fit-content;
  margin-right: 7px;
}

.btn-menu {
  width:28px;
  height: fit-content;
  display: none;
}

.logo-name {
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  color: white;
  margin-right: 3px;
}

@media (max-width: 768px) {
  .header-content {
    width: 100%;
    height: 42px;
    justify-content: start;
    gap: 15px;
    padding: 1px;
  }

  .btn-menu {
    display: block;
    margin-left: 8px;
    margin-top: 2px;
  }

  .usa-uk-flag-icon {
    display: none;
  }
}
