.select {
  padding-left: 3px;
  font-family: var(--font);
  font-size: var(--p-size);
  border-radius: 5px;
  margin-bottom: 3px;
}

.correct-icon {
  position: relative;
  width: 1.58rem;
  top: 3px;
  left: 2.5px;
}

.incorrect-icon {
  position: relative;
  width: 1.58rem;
  top: 4px;
  left: 2.5px;
}

.drop-block {
  display: block;
}
