.icon-text {
    display: flex;
    gap: 8px;
    align-items: center;
}

.text-area {
    height: 500px;
    border-radius: var(--border-radius);
    font-size: var(--p-size);
    padding: 7px 8px;
}