.container {
  border-radius: 5px;
  padding: 5px 9.7px 5px 9px;
  background-color: white;
}

.dic-input-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

/* .WordCard {
  position: absolute;
  z-index: 100;
} */