/* .outer-dictionary-search-container {
border: 5px solid red;
height: 200px;;
} */

.dictionary-search-container {
  border-radius: 5px;
  padding: 5px 9.7px 5px 9px;
  background-color: white;
  margin-bottom: 10px;
  box-shadow: var(--box-shadow);
}

.image-input-button-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.wordcard {
  height: 500px;
  background-color: white;
  overflow: auto;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  border: 2px solid lightgrey;
}